@page
@model Divarcheh.Endpoints.RazorPages.Areas.Account.Pages.LogoutModel
@{
}
<div class="container px-5 my-5">
    <div class="d-grid">
        <a asp-page-handler="LogOut" class="btn btn-primary btn-lg " id="submitButton" type="submit">Logout</a>
    </div>
</div>